useFrameAccurateSplit: false
sceneThreshold: 0.3
minusFrames: 2
openDir: open/6602
# 从openDir中选择的开头片段数量，0表示不使用开头片段
openClipsCount: 0
clipsDir: clips/811_fdt
inputDir: input/811_fdt
musicDir: music/加绒打底裤_有口播
audioExtractDir: music/加绒打底裤_有口播
enableAudioFilter: false
minAudioDuration: 15
maxAudioDuration: 40
outputDir: output/811
videoNamePrefix: '811'
numNewVideos: 50
minWidth: 720
minHeight: 1280
minVideoRate: 0.9
maxVideoRate: 1.1
minClipDuration: 0.7
maxClipDuration: 6
maxAVDiff: 0.2
ffmpegTimeout: 120
videoShorterAudioMaxDiff: 2
videoLongerAudioMaxDiff: 2
audioConcat:
  inputDir:
    - music/开头
    - music/801
  outputDir: music/加绒打底裤_有口播
  generateCount: 20
ffmpegVideoCodec: h264_amf
ffmpegPreset: veryfast
ffmpegNvencPreset: p5
ffmpegAmfQuality: balanced
ffmpegThreads: 0
ffmpegCopyOnMux: true
ffmpegRemuxCopy: true
standardize:
  inputDir: input/801_fdt
  outputDirSuffix: _std
  requirePixFmt: yuv420p
  requireSar1: true
  targetFps: null
  targetAspectRatio: '9:16'
  aspectMode: none
  padColor: black
  ensureMinResolution: true
  minWidth: 720
  minHeight: 1280
  scaleFlags: bicubic
  videoCodec: h264_amf
  gop: 60
  crf: 21
fastSplitCopy: true
fastSeekFirst: true