# 是否使用精确帧位置分割
useFrameAccurateSplit: false 
# 场景阈值 用于检测场景变化的阈值，值越小越敏感 
sceneThreshold: 0.3
# 分割视频时减去的帧数，避免跳帧
minusFrames: 2
# 视频开头片段目录(可选)
openDir: open/6602

# 输入视频目录 提取音频的视频输入目录 分割视频的输入目录
inputDir: input/801_fdt
# 片段输出目录,合成视频片段输入目录
clipsDir: clips/801_fdt

# 音频文件目录
musicDir: music/加绒打底裤_有口播
# 音频提取输出目录
audioExtractDir: music/A198薄款打底裤

# 是否启用音频预筛选
enableAudioFilter: false
# 音频长度控制参数（单位：秒）
minAudioDuration: 15    # 最小音频时长
maxAudioDuration: 40   # 最大音频时长

# 合成视频输出目录
outputDir: output/801

# 视频导出文件名前缀
videoNamePrefix: 801
# 生成新视频数量
numNewVideos: 100
# 最小宽度
minWidth: 720
# 最小高度
minHeight: 1280
minVideoRate: 0.9
maxVideoRate: 1.1
minClipDuration: 0.7
maxClipDuration: 6
maxAVDiff: 0.2
ffmpegTimeout: 120
videoShorterAudioMaxDiff: 2
videoLongerAudioMaxDiff: 2
audioConcat:
  inputDir:
    - music/801
  outputDir: music/6602_first
  generateCount: 20
  firstAudio: music/open/6602/1_a_8.5s.mp3
ffmpegVideoCodec: h264_amf
ffmpegPreset: veryfast
ffmpegNvencPreset: p5
ffmpegAmfQuality: balanced
ffmpegThreads: 0
ffmpegCopyOnMux: true
ffmpegRemuxCopy: true
# 标准化参数
standardize:
  # 输入目录
  inputDir: input/198/未分析
  # 输出目录后缀
  outputDirSuffix: _std
  requirePixFmt: yuv420p
  requireSar1: true
  targetFps: null
  # 目标宽高比
  targetAspectRatio: '9:16'
  # 宽高比模式
  aspectMode: none
  # 填充颜色
  padColor: black
  ensureMinResolution: true
  # 最小宽度
  minWidth: 720
  # 最小高度
  minHeight: 1280
  scaleFlags: bicubic
  videoCodec: h264_amf
  gop: 60
  crf: 21
fastSplitCopy: true
fastSeekFirst: true
videoMerge:
  inputDirs:
    - open/6602/_std/1
    - output/801/20251030_1544
  outputDir: output/801/merge/20251030_1544
  mergeMode: cross
